/* footer */


#footer-logo {
    display: inline-block;
white-space: nowrap;
    font-family: 'Silkscreen', cursive;
}

#copyright {
    display: inline-block;
white-space: nowrap;
}


.footer-container {
    min-height: 0px !important;
    color: grey;

}

.footer-icon {
    color: grey;
    font-size: 30px;
}
