/* nav */

.nav-button {
    border: 0;
    color: black;
    width: auto;
    max-height: 40px;
    margin: 0px;
    border-radius: 20px;
}

#navbar {
    box-shadow: rgb(0 0 0 / 5%) 0rem 1.25rem 1.6875rem 0rem;
    border: 0px solid rgba(0, 0, 0, 0.125);
    /* border-radius: 0px 0px 10px 10px; */
    background-color: white;
    padding-right: 10%;
    padding-left: 10%;
}

#nav-brand {
    font-family: 'Silkscreen', cursive;
    font-size: 25px;
    color: rgba(58, 65, 111, 0.95);
}

.nav-item:hover {
    font-weight: 700;
}
