code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  color: rgba(0, 0, 0, 0.87);
  background: #f5f6f7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}



/* nav */

.nav-button {
  border: 0;
  color: rgba(0, 0, 0, 0.87);
  width: auto;
  max-height: 40px;
  margin: 0px;
  border-radius: 20px;
}

#navbar {
  box-shadow: rgb(0 0 0 / 5%) 0rem 1.25rem 1.6875rem 0rem;
  border: 0px solid rgba(0, 0, 0, 0.125);
  /* border-radius: 0px 0px 10px 10px; */
  background-color: white;
  padding-right: 10%;
  padding-left: 10%;
}

#nav-brand {
  font-family: 'Silkscreen', cursive;
  font-size: 25px;
  color: rgba(58, 65, 111, 0.95);
}

#brand-container {
  display: flex;
  align-items: center;
}

#logo {
  align-items: center;
}

.nav-item {
  color: rgba(58, 65, 111, 0.95);
  font-size: 18px;
  font-weight: 500;
}

.nav-item:hover {
  font-weight: 700;
}



.navbar-toggler {
  background-color: rgba(58, 65, 111, 0.95);
  color: rgba(58, 65, 111, 0.95);
}

#nav-container {
  width: 93%;
}


.button.plus {
  width: 85px;
}

.button:hover {
  background-color: #212529;
  border: 0px;
}

.button {
  background-color: rgba(58, 65, 111, 0.95);
  color: white;
  border: 0px;
  margin: 0 0 5px 5px;
}


.card {
  box-shadow: rgb(0 0 0 / 5%) 0rem 1.25rem 1.6875rem 0rem;
  border: 0px solid rgba(0, 0, 0, 0.125);
  background-color: #ffffff;
  border-radius: 16px;
  padding: 5px;

}

.table {
  border-radius: 16px;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.87);
  margin: 0px;
}

.table td,
.table th {
  text-align: center;
  vertical-align: middle;
  flex-wrap: nowrap;

}


.spinner-border {
  color: rgba(58, 65, 111, 0.95);
  width: 60px;
  height: 60px;
  margin: 20px;
}

/* footer */


#footer-logo {

  font-family: 'Silkscreen', cursive;
}

#footer-content {
  margin-top: 12px;
}

/* homepage */

.info-card {
  height: 300px;
  padding: 20px;
  margin-bottom: 25px;
}

/* login */

#login-card {
  color: black;
}

.login-icon {
  font-size: 40px;
  color: rgba(58, 65, 111, 0.95);
}

.login-icon:hover {
  color: black;
}

.login-icon-button {
  background-color: white;
}

.button.login-icon-button:hover {
  background-color: white;
  border: 0px;
}

.container {
  min-height: 800px;
}


.footer-container {
  min-height: 0px;
  color: grey;
}

.footer-icon {
  color:grey;
  font-size: 30px;
}

.page-title {
  text-align: center;
  border-bottom: 0px solid rgba(0, 0, 0, 0.125);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 25px 20px -20px;
}



@media only screen and (max-width: 500px) {
  .container {
    min-height: 400px;
  }
}