

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: #21222A;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.button {
  background-color: #61DAFb;
  color: #2e3137;
  border: 1px solid #61DAFb;
  margin: 0 0 5px 5px;
}

.nav-button {
  background-color: #21222A;
  border: 0;
  color:white;
  width: auto;
  max-height:40px;
  margin:0px;
  border-radius: 20px;
}

.button.plus {
  width: 85px;
}

.button:hover {
  background-color: #21222A;
  border: 1px solid #21222A;
}

#navbar {
  box-shadow: 10px 10px 8px black;
  border-radius: 0px 0px 10px 10px;
  background-color: #2e3137;
  
}

.card {
  box-shadow: 10px 10px 8px black;
  background-color: #2e3137;
  border-radius: 10px;
  padding: 5px;
}

.table {
  border-radius: 10px;
  background-color: #2e3137;
  color: white;
  margin: 0px;
}

.table td, .table th {
  text-align: center;
  vertical-align: middle;
  flex-wrap: nowrap;
  
}

#nav-brand {
  font-family: 'Silkscreen', cursive;
  font-size: 25px;
  color: #61DAFb;
}

#brand-container {
  display: flex;
  align-items: center;
}

#logo {
  align-items: center;
}

.nav-item {
  color: white;
  font-size: 18px;
}

.nav-item:hover {
  color: #21222A;
}

.nav-item.nav-link.active {
  color: #61DAFb;
}


.navbar-toggler {
  background-color: #61DAFb;
  color: #61DAFb;
}

.spinner-border {
  color:#61DAFb;
  width:60px;
  height:60px;
  margin:20px;
}

