

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  color: white;
  background: #262f37;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}



/* nav */

.nav-button {
  background-color: #21222A;
  border: 0;
  color:white;
  width: auto;
  max-height:40px;
  margin:0px;
  border-radius: 20px;
}

#navbar {
  box-shadow: 0 0 5px 5px #15151a;
  /* border-radius: 0px 0px 10px 10px; */
  background-color: #212529;
  padding-right: 10%;
  padding-left: 10%;
}

#nav-brand {
  font-family: 'Silkscreen', cursive;
  font-size: 25px;
  color: #61DAFb;
}

#brand-container {
  display: flex;
  align-items: center;
}

#logo {
  align-items: center;
}

.nav-item {
  color: white;
  font-size: 18px;
}

.nav-item:hover {
  color: #61DAFb;
}



.navbar-toggler {
  background-color: #61DAFb;
  color: #61DAFb;
}

#nav-container {
  width: 93%;
}


.button.plus {
  width: 85px;
}

.button:hover {
  background-color: #212529;
  border: 0px;
}

.button {
  background-color: #61DAFb;
  color: #2e3137;
  border: 0px;
  margin: 0 0 5px 5px;
}


.card {
  box-shadow: 5px 5px 5px #15151a;
  background-color: #212529;
  border-radius: 16px; 
  padding: 5px;
}

.table {
  border-radius: 16px;
  background-color: #212529;
  color: white;
  margin: 0px;
}

.table td, .table th {
  text-align: center;
  vertical-align: middle;
  flex-wrap: nowrap;
  
}


.spinner-border {
  color:#61DAFb;
  width:60px;
  height:60px;
  margin:20px;
}

/* footer */

.footer {
  
  color: #61DAFb;
  display:flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  box-shadow: 0 0 2px 2px #15151a;
  justify-content:center;
  align-items:center;
  background: black;
  opacity: 0.4;
}

#footer-logo {
  
  font-family: 'Silkscreen', cursive;
}

#footer-content {
  margin-top: 12px;
}

/* homepage */

.info-card {
  height: 300px;
  padding: 20px;
  margin-bottom: 25px;
}

/* login */

#login-card {
  color:black;
}

.login-icon {
  font-size: 30px;
  color: white;
}

.login-icon:hover {
  color: #61DAFb;
}

.login-icon-button {
  background-color: #212529;
  border: #212529;
}