.profile {
  margin: 0;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}


.pic {
  width: 317px;
  border-radius: 15px 15px 0px 0px;
  margin-bottom: 0px;
}

.infopart {
  margin-top: 50px;
  background-color: white;
  width: 317px;
  text-align: center;
}

#name {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 500;
}

#profession {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #F3BF99;
  font-weight: 200;
}


#button-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 0px 40px;
  gap: 10px;
  
}

#button-box button {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  gap: 5px;
  
}

#linkedin-button {
  background-color: #5093E2;
  color:white
}


#icon {
  vertical-align:middle;
}



#email {
  margin-top: 0px;
  font-size: 13px;
}

.about {
  background-color: white;
  width: 317px;
  margin-bottom: 0px;
}

.about h3 {
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 0px;
}

.about p {
  margin-top: 4px;
  font-size: 13px;
  padding-left: 40px;
  padding-right: 40px;
}

#interests {
  padding-bottom: 40px;
  margin-bottom: 0px;
}

.profile-footer {
  background-color: rgba(58, 65, 111, 0.95);
  width: 317px;
  height: 64px;
  border-radius: 0px 0px 15px 15px;
  margin-top: 0px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.profile-footer .profile-footer-icon {
  height: 30px;
  margin: 20px 15px;
}

.profile-footer-icon {
  font-size: 35px;
  color: white;
}
