code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  color: black;
  background: #f5f6f7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.btn.plus {
  width: 85px;
}

.btn {
  background-color: rgba(58, 65, 111, 0.95);
  color: white;
  border: 0px;
  margin: 0 0 5px 5px;
}

.btn:hover {
  background-color: #212529;
}

.card {
  box-shadow: rgb(0 0 0 / 5%) 0rem 1.25rem 1.6875rem 0rem;
  border: 0px solid rgba(0, 0, 0, 0.125);
  background-color: #ffffff;
}

.table {
  border-radius: 16px;
  background-color: #ffffff;
  color: black;
}

.table td,
.table th {
  text-align: center;
  vertical-align: middle;
  flex-wrap: nowrap;

}

.spinner-border {
  color: rgba(58, 65, 111, 0.95);
  width: 60px;
  height: 60px;
  margin: 20px;
}

.container {
  min-height: 600px;
}

.page-title {
  text-align: center;
  margin-top: 15px;
}


.form-card {
  width: 400px;
}

.btn.button:hover {
  background-color: black;
  color: white;
}

.link:hover {
  font-weight: 700;
  color: black;
}

.link {
  color: black;
  text-decoration: none;
}


@media only screen and (max-width: 500px) {
  .container {
    min-height: 400px;
  }
}
